* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../img/fundo.jpg");
  background-size: auto 100vh;
  font-family: sans-serif;
  height: 100vh;
}
@media (min-width) {
  body {
    font-size: 14px;
  }
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu {
  background-color: #fff;
  position: fixed;
  width: 100vw;
  top: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.menu ul {
  display: flex;
  justify-content: space-around;
}
.menu a {
  display: block;
  padding: 10px 20px;
}
.menu li {
  list-style: none;
}
.site-title,
.site-subtitle {
  text-align: center;
  color: whitesmoke;
}
.site-subtitle {
  font-style: italic;
}
.img-portfolio {
  height: 180px;
  width: 240px;
  object-fit: cover;
}
.projetos,
.contato {
  padding: 2em;
  min-height: 100vh;
}
.projetos h2,
.contato h2 {
  margin-bottom: 2em;
  font-size: 2em;
  text-align: center;
}
.projetos .grid {
  display: grid;
  gap: 2em;
}
.projetos figure {
  text-align: center;
}
@media (min-width: 560px) {
  .projetos .grid {
    grid-template-columns: repeat(2, 240px);
  }
}
@media (min-width: 880px) {
  .projetos .grid {
    grid-template-columns: repeat(3, 240px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}
